<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.caixc.easynoteapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:name=".global.App"
            android:theme="@style/FullStyle">
        <activity
                android:name=".ui.SplashActivity"
                android:theme="@style/SplashTheme"
                android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity"
                  android:theme="@style/FullStyle"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.NoteDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.ZaiQuanSelectActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ChangePwdActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.FeedBackActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.InOutComeDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.TemplatureActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.TemplatureQuickActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>